@use 'variables' as *;

body {
  font-family: $font-main;
  line-height: 1.5;
  font-weight: 400;
  background-color: $color-bg;
  color: $color-text;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
