@use 'variables' as *;

.news-page {
  display: flex;
  flex-direction: row;
  gap: 40px;
  max-width: 1000px;
  margin:  50px auto;

  .news-content{
    h1{
      margin: 0 0 10px 0;
    }

    .news-list {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;

      a {
        text-decoration: none;
        color: $color-text;
      }

      .news-card {
        padding: 15px;
        border: 1px solid $color-border;
        border-radius: $border-radius;
        transition: $transition-default;

        &:hover {
          transform: translateY(-5px);
          box-shadow: 0 10px 20px $color-shadow;
        }

        img {
          width: 100%;
          border-radius: $radius-small;
        }

        h2 {
          font-size: $font-size-title;
          margin: 10px 0;
        }

        p {
          font-size: $font-size-text;
          color: $color-muted;
        }
      }
    }
  }

  .burger {
    font-size: 28px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 999; 
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 5px;

    span {
      display: inline-block; 
      color: $menu-text;
      position: relative;
      width: 30px;
      height: 3px;
      margin: 5px 0; 
      background: $menu-text; 
      transition: 0.3s ease;
    }
  }
}

@media (max-width: 768px) {
  .news-page {
    flex-direction: column;
    gap: 20px;
    margin: 20px;
    max-width: 550px;
    margin:  10px auto;

    .news-content {
      .news-list {
        flex-direction: column;
        gap: 15px;

        .news-card {
          width: 100%;
        }
      }
    }

    .burger {
      align-self: flex-start;
      margin-top: 0;
    }
  }
}
